<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="docmah" type="DocMAH.Configuration.DocmahConfigurationSection, DocMAH"/>
	</configSections>
	<appSettings>
		<add key="ExecuteDatabaseTests" value="true"/>
	</appSettings>
	<connectionStrings>
		<add name="docmahUnitTests" connectionString="Data Source=localhost;Initial Catalog=docmahUnitTests;Integrated Security=True;Asynchronous Processing=True;MultipleActiveResultSets=True;Application Name=DocMAH Unit Tests" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<docmah connectionStringName="docmahUnitTests">
		<!--
			  jQueryUrl="/bundles/scripts?v=_oh9XLxev88fJw9Cqn0z2vwlBLx38VQ4SjnO0rddygU1"
			  jQueryUiUrl="" 
			  jsTreeUrl=""> 
		-->
		<documentation pageTitle="DocMAH Unit Tests"/>
		<editHelp disabled="false" requireAuthentication="false"/>
	</docmah>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
