<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="docmah" type="DocMAH.Configuration.DocmahConfigurationSection, DocMAH"/>
	</configSections>
	<connectionStrings>
		<add name="docmahUnitTests" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=docmahUnitTests;Integrated Security=True;Asynchronous Processing=True;MultipleActiveResultSets=True;Application Name=DocMAH Unit Tests" providerName="System.Data.SqlClient"/>
	</connectionStrings>
	<docmah connectionStringName="docmahUnitTests">
		<documentation pageTitle="DocMAH Unit Tests"/>
		<editHelp disabled="false" requireAuthentication="false"/>
	</docmah>
</configuration>
