*/App_Data/
*/bin/
*/obj/
*.coverage
*.csproj.user
*.suo
Solutions/packages/
Solutions/TestResults/Coverage/DocMAHCoverage/
/DocMAH.nuget
/Solutions/Scripts/NuGet.DocMAH.Local
*.nupkg
/Solutions/Deployment/_version.txt
