*/App_Data/
*/bin/
*/obj/
*.coverage
*.csproj.user
*.suo
*.nupkg
*.mdf
*.ldf
Solutions/packages/
Solutions/TestResults/Coverage/DocMAHCoverage/
/DocMAH.nuget
/Solutions/Scripts/NuGet.DocMAH.Local
/Solutions/Deployment/_version.txt
/DocMAH.MvcHarness/ApplicationHelpInstall.xml
/DocMAH.MvcHarness/DocmahContent.xml
