<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	  
	<!-- For more information on Documentation Module and Handler, visit http://DocMAH.net -->
    <section name="docmah" type="DocMAH.Configuration.DocmahConfigurationSection, DocMAH"/>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=DocMAH.AspxHarness;Integrated Security=SSPI;AttachDBFilename=|DataDirectory|\DocMAH.AspxHarness.mdf" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login" timeout="2880" defaultUrl="~/" />
    </authentication>
    <profile defaultProvider="DefaultProfileProvider">
      <providers>
        <add name="DefaultProfileProvider" type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </profile>
    <membership defaultProvider="DefaultMembershipProvider">
      <providers>
        <add name="DefaultMembershipProvider" type="System.Web.Providers.DefaultMembershipProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <roleManager defaultProvider="DefaultRoleProvider">
      <providers>
        <add name="DefaultRoleProvider" type="System.Web.Providers.DefaultRoleProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" applicationName="/" />
      </providers>
    </roleManager>
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    <sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>
  </system.web>
	
  <system.webServer>
	  <modules runAllManagedModulesForAllRequests="true">
      <add name="DocMAH" type="DocMAH.Web.HttpModule, DocMAH" preCondition="integratedMode"/>
	  </modules>
    <handlers>
      <add name="DocMAH" path="help.axd" verb="GET,POST" type="DocMAH.Web.HttpHandler, DocMAH" preCondition="integratedMode"/>
    </handlers>
  </system.webServer>
	
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.Core" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="DotNetOpenAuth.AspNet" publicKeyToken="2780ccd10d57b246" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	
  <!-- docmah element - Top DocMAH custom configuration element. -->
  <!-- connectionStringName attribute [Optional] Name of connection string for database connections. If not set, must be set programmatically via DocMAH.Configuration.Configurator.ConnectionString on app startup.-->
  <!-- jsUrl attribute [Optional - Default: renders individual links to MS CDN and cdnjs javascript libraries] Can override to a single URL (bundle) that contains jQuery, jQueryUi and jsTree script files. -->
  <!-- cssUrl attribute [Optional - Default: renders individual link to cdnjs CDN css library] Can override to a single URL (bundle) that contains jsTree css default files. -->
  <docmah connectionStringName="DefaultConnection" jsUrl="" cssUrl="">
	  
    <!-- documentation element - [Optional] Settings particular to the documentation page. -->
    <!-- pageTitle attribute [Optional - Default: Documentation] Provide a custom title for documentation page. -->
    <documentation pageTitle="DocMAH Self Documentation" customCss=""/>
	  
    <!-- editHelp element - [Optional] Controls the availability of edit mode for first time help and documentation. -->
    <!-- disabled attribute [Optional - Default: false] Disable all help editing for the application. Recommended for production environments. Overrides requireAuthentication and requireLocalConnection.-->
    <!-- requireAuthentication attribute [Optional - Default: true] Require authentication to edit help content. -->
    <!-- requireLocalConnection attribute [Optional - Default: true] Require a local connection to the server to edit help content. -->
    <editHelp disabled="false" requireAuthentication="false" requireLocalConnection="true"/>
  
  </docmah>
</configuration>