<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="docmah" type="DocMAH.Configuration.DocmahConfigurationSection, DocMAH"/>
	</configSections>

	<connectionStrings>
		<add name="docmahUnitTests" connectionString="Data Source=localhost;Initial Catalog=docmahIntegrationTests;Integrated Security=True;Asynchronous Processing=True;MultipleActiveResultSets=True;Application Name=DocMAH Integration Tests" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<docmah connectionStringName="docmahUnitTests">
		<documentation pageTitle="DocMAH Integration Tests"/>
		<editHelp disabled="false" requireAuthentication="false"/>
	</docmah>
</configuration>