<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<section name="docmah" type="DocMAH.Configuration.DocmahConfigurationSection, DocMAH"/>
	</configSections>

	<connectionStrings>
		<add name="docmahIntegrationTests" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=docmahIntegrationTests;Integrated Security=True;Asynchronous Processing=True;MultipleActiveResultSets=True;Application Name=DocMAH Integration Tests" providerName="System.Data.SqlClient"/>
	</connectionStrings>

	<docmah connectionStringName="docmahIntegrationTests">
		<documentation pageTitle="DocMAH Integration Tests"/>
		<editHelp disabled="false" requireAuthentication="false" requireLocalConnection="false"/>
	</docmah>
</configuration>